<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946810479814-54m2cp1qqcq5390ofpua3b11i76ch6pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946810479814-54m2cp1qqcq5390ofpua3b11i76ch6pu</string>
	<key>API_KEY</key>
	<string>AIzaSyD34vjvTR2kel1oAPo5uhwPUPRkb3RB4tU</string>
	<key>GCM_SENDER_ID</key>
	<string>946810479814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anon.warrantyKeeper</string>
	<key>PROJECT_ID</key>
	<string>warrantyios-87ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>warrantyios-87ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946810479814:ios:682459cc8ef59bbdb223c7</string>
	<key>DATABASE_URL</key>
	<string>https://warrantyios-87ed0.firebaseio.com</string>
</dict>
</plist>